.container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

input[type="email"] {
    background-color: #f7f7f7;
}

input[type="password"] {
    background-color: #ddd;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
}