@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", serif;
}

:root {
  --text-color: #000000;
  --think-color: #7c7a7ad8;
  --subheading-color: #e4d37f;
  --placeholder-color: #46484c;
  --primary-color: #efe6bf;
  --secondary-color: #f9edb9;
  --secondary-hover-color: #e4d6a5;
  --scrollbar-color: #edd48b;
}

/* heading style */

.container .app-header {
    margin-top: 4vh;
}

.app-header .heading {
    font-size: 3rem;
    width: fit-content;
    background: linear-gradient(to right, #d81dfd, #8f6fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-header .sub-heading {
    font-size: 2.6rem;
    margin-top: -5px;
    color: var(--subheading-color);
}
