@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", serif;
}

:root {
    --text-color: #edf3ff;
    --think-color: #aaaaaad8;
    --subheading-color: #97a7ca;
    --placeholder-color: #c3cdde;
    --primary-color: #101623;
    --secondary-color: #283045;
    --secondary-hover-color: #333e58;
    --scrollbar-color: #626a7f;
}

/* iframe */
.right-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    background: var(--secondary-color);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.651);
    transform: translateX(100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 9999;

}

.right-container.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* IFRAME */
.right {
    width: 500px;
    height: 100%;
    color: var(--text-color);

    overflow-y: auto;
    scrollbar-width: none;
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        width 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.right.fullscreen {
    width: 100vw;
    transform: translateX(0) !important;
}

/* NÚT ĐÓNG */
#close-iframe {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--text-color);
    z-index: 10000;
}

#close-iframe:hover {
    color: #f00;
}

#move_selection_right {
    position: absolute;
    top: 10px;
    right: 54px;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--text-color);
    z-index: 10000;
}

#move_selection_right:hover {
    color: rgb(102, 22, 207);
}

#move_selection_left {
    position: absolute;
    top: 10px;
    right: 94px;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--text-color);
    z-index: 10000;
}

#move_selection_left:hover {
    color: rgb(102, 22, 207);
}