@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", serif;
}

:root {
  --text-color: #000000;
  --think-color: #7c7a7ad8;
  --subheading-color: #e4d37f;
  --placeholder-color: #46484c;
  --primary-color: #efe6bf;
  --secondary-color: #f9edb9;
  --secondary-hover-color: #e4d6a5;
  --scrollbar-color: #edd48b;
}

/* search */
.search-output {
    display: none;
    align-items: center;
    justify-content: center;
    width: auto;
    position: fixed;
    top: 20px;
    right: 69px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Itim", serif;
    padding: 8px 16px;
    height: 35px;
    border: none;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.623);
    cursor: pointer;
    z-index: 1000;
}

.search-output:hover {
    background: var(--secondary-hover-color);
}


.search-icon {
    width: 24px;
    height: 24px;
    animation: gentleRotate 2s ease-in-out infinite alternate;
}

@keyframes gentleRotate {
    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

.search-output:hover .search-icon {
    animation: gentleRotate 0.5s ease-in-out infinite alternate;
}
