@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", serif;
}

:root {
    --text-color: #edf3ff;
    --think-color: #aaaaaad8;
    --subheading-color: #97a7ca;
    --placeholder-color: #c3cdde;
    --primary-color: #101623;
    --secondary-color: #283045;
    --secondary-hover-color: #333e58;
    --scrollbar-color: #626a7f;
}

/* suggestions style */
.container .suggestions {
    display: flex;
    gap: 15px;
    margin-top: 9.5vh;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
}

.suggestions .suggestions-item {
    width: 228px;
    padding: 18px;
    flex-shrink: 0;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 12px;
    background: var(--secondary-color);
    transition: 0.3s ease;
}

.suggestions .suggestions-item:hover {
    background: var(--secondary-hover-color);
}

.suggestions .suggestions-item .text {
    font-size: 20px;
}

.suggestions .suggestions-item span {
    height: 45px;
    width: 45px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    border-radius: 50%;
    color: #1d7efd;
    background: var(--primary-color);
}

.suggestions .suggestions-item:nth-child(2) span {
    color: #28a745;
}

.suggestions .suggestions-item:nth-child(3) span {
    color: #e9ff6d;
}

.suggestions .suggestions-item:nth-child(4) span {
    color: #c56ff7;
}